*{
    padding: 0;
    margin: 0;
}
@font-face{
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-Regular.ttf');
}
body{
    background-color: #e4e5e6;
    font-family: 'Roboto';
}

/* HALAMAN INDEX */
.container{
    margin: 0 auto;
    width: 1000px;
}
nav{
    height: 100px;
    background-color:  #337ab7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 0;
    box-sizing: border-box;
}
nav h1{
    color: white;
    font-size: 25pt;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #0a5291;
}
.menu a{
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}
.menu a:hover, .menu a:focus{
    background-color: #0a67b8;
}
.wrap{
    height: 540px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    box-sizing: border-box;
    position: relative;
}
.wrap img{
    max-width: 400px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.content{
    padding: 0 30px;
    box-sizing: border-box;
}
.content h3{
    font-size: 20pt;
    margin: 10px 0;
}
.content ol li{
    line-height: 30px;
}
.content span{
    font-size: 13pt;
    font-style: italic;
}

/* HALAMAN KELAS */
.kelas{
    text-align: center;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 20px -5px rgba(0, 0, 0, 0.04);
    height: 280px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    width: 200px;
}
.judulkelas{
    position: absolute;
    top: 30px;
    left: 40%;
    color: rgb(31, 31, 31);
}
.wrap .kelas img{
    max-width: 200px;
    margin-bottom: 15px;
    box-shadow: none;
}
.deskripsi p{
    margin-bottom: 20px;
}
.deskripsi a{
    text-decoration: none;
    padding: 5px 10px;
    background-color: #0a5291;
    color: white;
    border-radius: 5px;
}
.deskripsi a:hover{
    background-color: #337ab7;
}

/* DAFTAR */
.daftar{
    margin: 0 auto;
    width: 980px;
    background-color: white;
    margin-bottom: 20px;
    padding: 10px;
}
.form, .form-modal{
    margin: 0 auto;
    width: 500px;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid #aaaaaa;
}
.form-header{
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);font-size: 15pt;
    color: rgb(80, 78, 78);
    position: relative;
}
.form-header a{
    position: absolute;
    right: 20px;
    top: 10px;
    text-decoration: none;
    font-size: 20pt;
    font-weight: bold;
    color: gray;
}
.form-body{
    padding: 40px 25px;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
}
.form-body a{
    text-decoration: none;
    color: #007bff;;
}
.form-body a:hover{
    text-decoration: underline;
}

.form-control{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin:10px 0 20px;
    border: 1px solid #bebebe;
    border-radius: 5px;
    font-size: 12pt;
    background-color: white;
}
.form-control:focus{
    box-shadow: 0px 0px 4px 1px #56a8ff;
    outline: none;
    background-color: white;
}
.form-control:hover{
    cursor: default;
}
.form-footer{
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);font-size: 15pt;
    color: rgb(80, 78, 78);
    display: flex;
    justify-content: flex-end;
}
.btn-submit, .btn-close{
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border:none;
    color: white;
    margin: -10px 0 0;
    font-size: 12pt;
    margin: 2px;
}
.btn-submit{background-color: #007bff;}
.btn-close{background-color: #dc3545;}
.btn-submit:hover{
    background-color: #0565cc;
    cursor: pointer;
}

.btn-close:hover{
    background-color: #c92c3b;
    cursor: pointer;
}

/* KONTAK */
.kontak{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 550px;
    background-color: white;
}
.kontak img{
    max-width: 300px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 20px -5px rgba(0, 0, 0, 0.04);
    border-radius: 50%;
}
.kontak table tr td{
    padding: 10px;
}

@media screen and (max-width:720px){
    .container{
        width: auto;
    }
    .wrap{
        height: 100%;
        padding: 50px 0;
        flex-direction: column;
        text-align: center;
    }
    .wrap img{
        max-width: 250px;
        margin-bottom: 20px;
    }
    nav h1{
        font-size: 20pt;
    }
    .menu a{
        font-size: 11pt;
    }
    .content h3{
        font-size: 13pt;
    }
    .content ol li, .content span{
        font-size: 11pt;
        text-align: left;
    }

    /* KELAS */
    .kelas{
        width: 250px;
        margin-bottom: 20px;
    }
    .judulkelas{
        position: static;
        font-size: 15pt;
        margin-bottom: 20px;
    }
    .deskripsi h4, .deskripsi p{
        font-size: 11pt;
    }

    /* Daftar */
    .form, .form-modal, .daftar{
        width: auto;
    }
    .form-body label{
        font-size: 11pt;
    }
    .form-control{
        padding: 8px 10px;
    }
    .form-control::placeholder, .form-control::selection{
        font-size: 10pt;
    }
}